---
permalink: /posts/index.json
eleventyExcludeFromCollections: true
layout: false
---
[
{%- for post in collections.posts -%}
  {
    "title": {{ post.data.title | dump | safe }},
    "permalink": "/{{ post | permalinkSlug }}/",
    "filename": "{{ post.fileSlug }}",
    "date": "{{ post.data.date }}"{% if post.data.updated %},
    "updated": {{ post.data.updated | dump | safe }}{% endif %}{% if post.data.tags %},
    "tags": {{ post.data.tags | dump | safe }}{% endif %}
  }{% if not loop.last %},{% endif %}
{%- endfor -%}
]

